[submodule "src/Hardware/freenect_stack"]
	path = src/Hardware/freenect_stack
	url = https://github.com/ros-drivers/freenect_stack.git
[submodule "src/Hardware/xarm"]
	path = src/Hardware/xarm
	url = https://github.com/xArm-Developer/xarm_ros.git
