<?xml version="1.0"?>
<robot name="festoshi" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ARGUMENTS -->
  <xacro:arg name="add_gripper" default="false"/>
  <xacro:arg name="add_vacuum_gripper" default="false"/>
  <xacro:arg name="effort_control" default="true"/>
  <xacro:arg name="xarm_velocity_control" default="false"/>
  <xacro:arg name="model1300" default="false"/>
  <xacro:arg name="add_realsense_d435i" default="false"/>
  <xacro:arg name="add_d435i_links" default="false"/>
  <xacro:arg name="robot_sn" default=""/>
  <xacro:arg name="namespace" default=""/>

  <!-- INCLUDE base first, which is a full robot -->
  <xacro:include filename="$(find robotino_description)/urdf/robotino_armless.urdf.xacro"/>

  <!-- INCLUDE arm, which defines a macro -->
  <xacro:include filename="$(find xarm_description)/urdf/xarm_device.urdf.xacro"/>

  <!-- Instantiate xarm_device directly -->
  <xacro:xarm_device
    robot_type="xarm"
    dof="5"
    add_gripper="$(arg add_gripper)"
    add_vacuum_gripper="$(arg add_vacuum_gripper)"
    effort_control="$(arg effort_control)"
    velocity_control="$(arg xarm_velocity_control)"
    model1300="$(arg model1300)"
    add_realsense_d435i="$(arg add_realsense_d435i)"
    add_d435i_links="$(arg add_d435i_links)"
    robot_sn="$(arg robot_sn)"
    hw_ns="$(arg namespace)" />

  <!-- Connect base and arm -->
  <joint name="xarm_mount" type="fixed">
    <parent link="base_link"/>
    <child link="link_base"/>
    <origin xyz="0 0 0.75" rpy="0 0 0"/>
  </joint>

</robot>
