<launch>
  
  <node pkg="tf" type="static_transform_publisher" name="Log_origin_BC" args="6 -7 0 0 0 0 1 map Log_origin 100" />

  <!--CHALLENGE TRACKS FIELD/-->

  <node pkg="tf" type="static_transform_publisher" name="M_Z32_BC" args="-0.5 4.5 0 0 0 0 1 Log_origin M_Z32 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z34_BC" args="-0.5 5.5 0 0 0 0 1 Log_origin M_Z34 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z14_BC" args="-1.5 3.5 0 0 0 0 1 Log_origin M_Z14 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z23_BC" args="-2.5 2.5 0 0 0 0 1 Log_origin M_Z23 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z24_BC" args="-2.5 3.5 0 0 0 0 1 Log_origin M_Z24 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z33_BC" args="-3.5 2.5 0 0 0 0 1 Log_origin M_Z33 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z41_BC" args="-4.5 0.5 0 0 0 0 1 Log_origin M_Z41 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z42_BC" args="-4.5 1.5 0 0 0 0 1 Log_origin M_Z42 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z43_BC" args="-4.5 2.5 0 0 0 0 1 Log_origin M_Z43 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z44_BC" args="-4.5 3.5 0 0 0 0 1 Log_origin M_Z44 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z45_BC" args="-4.5 4.5 0 0 0 0 1 Log_origin M_Z45 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z51_BC" args="-5.5 0.5 0 0 0 0 1 Log_origin M_Z51 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z52_BC" args="-5.5 1.5 0 0 0 0 1 Log_origin M_Z52 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z53_BC" args="-5.5 2.5 0 0 0 0 1 Log_origin M_Z53 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z54_BC" args="-5.5 3.5 0 0 0 0 1 Log_origin M_Z54 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z55_BC" args="-5.5 4.5 0 0 0 0 1 Log_origin M_Z55 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z22_BC" args="0.5 4.5 0 0 0 0 1 Log_origin M_Z22 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z12_BC" args="1.5 4.5 0 0 0 0 1 Log_origin M_Z12 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z35_BC" args="1.5 5.5 0 0 0 0 1 Log_origin M_Z35 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z31_BC" args="2.5 3.5 0 0 0 0 1 Log_origin M_Z31 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z21_BC" args="3.5 3.5 0 0 0 0 1 Log_origin M_Z21 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z25_BC" args="3.5 4.5 0 0 0 0 1 Log_origin M_Z25 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z13_BC" args="3.5 5.5 0 0 0 0 1 Log_origin M_Z13 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="M_Z11_BC" args="4.5 3.5 0 0 0 0 1 Log_origin M_Z11 100" />

  <node pkg="tf" type="static_transform_publisher" name="M_Z15_BC" args="4.5 4.5 0 0 0 0 1 Log_origin M_Z15 100" />

</launch>
