<?xml version="1.0"?>
<launch>
  <!--include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch"> 
  <arg name="use_gui" value="true"/> 
  </include-->
  <node pkg="hmm_navigation"  name="pumas_navigate" type="pumas_nav_actionserver.py"/>
  <node pkg="face_recog"  name="face_recog" type="face_recog_server.py"/>
  <node pkg="face_recog"  name="face_recog_deep" type="face_recog_server_deep.py"/>
  <node pkg="object_classification"  name="dino_classification" type="classification_server_receptionist.py"/>
  <node pkg="segmentation"  name="segment_region" type="segment_region_server.py"/>
  <!--node pkg="head" name="mic_node" type="mic_node"/-->
  <node name="vosk_keywords" pkg="ros_whisper_vosk" type="vosk_node.py" respawn="true" output="screen" />
</launch>

